html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-image: url("../assets/images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    overflow: hidden;


    display: flex;
    align-items: center;
    justify-content: center;
}

/* 전체 네비게이션 컨테이너 */
.navigation {
    width: clamp(800px, 70vw, 1200px);
    aspect-ratio: 16 / 9;

    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 헤더 영역 */
.navigation-header {
    height: 10%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    flex-shrink: 0;
    box-sizing: border-box;
}

/* 메인 화면 영역 */
.navigation-screen {
    height: 80%;
    flex: 1;
    display: grid;
    background: rgba(255, 255, 255, 0.1);
}

/* 푸터 영역 */
.navigation-footer {
    height: 10%;
    padding: 0 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    flex-shrink: 0;
    box-sizing: border-box;
}