/* 프로필 영역 */
.navigation .navigation-profile {
    grid-column: 1;
    grid-row: 1 / 3; /* 1번 행부터 3번 행까지 (전체) */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: white;
}

/* 지도 영역 */
.navigation .navigation-map {
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    color: white;
}

/* 메뉴 영역 */
.navigation .navigation-menu {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
}